<h1>Listing beats</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Length</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @beats.each do |beat| %>
  <tr>
    <td><%= beat.name %></td>
    <td><%= beat.length %></td>
    <td><%= link_to 'Show', beat %></td>
    <td><%= link_to 'Edit', edit_beat_path(beat) %></td>
    <td><%= link_to 'Destroy', beat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Beat', new_beat_path %>
