<head>

<script type="text/javascript">

function soundoff(id){
document.getElementById(id).play(); 
}
function timeoutsound(audio,time){
setTimeout(function (){audio.play();}, time*1000)
}
</script>

</head>
<h1>New image</h1>

<% for sound in @sounds %>
<button type="button" onclick="<%= "soundoff(\"#{sound.id}\")" %>"> <%= sound.photo_id %></button>
<audio id="<%= sound.id %>" controls="controls" style="visibility: hidden" onended="timeoutsound(this,4)"> <source src=<%= sound.photo.url %> /></audio>
<% end %>

<script type="text/javascript">
function putsound(id){
document.write('<audio id="<%= sound.id %>" controls="controls" style="visibility: hidden" onended="timeoutsound(this,4)"> <source src=<%= sound.photo.url %> /></audio>');
}
</script>

<%= link_to 'Back', images_path %>
